# Module
많이 사용하는 함수를 만들어 놓고, 프로그램에서 해당 함수 사용시, import 하여 사용하면 편리함
- 모듈 이름 생략하고 함수이름만으로 사용하려면 from 모듈명 import *

In [3]:
import math
math.factorial(10)

3628800

In [6]:
import math as mt
mt.factorial(10)

3628800

In [10]:
from math import factorial
factorial(10)

3628800

### 난수(random number) 생성

In [13]:
import random
random.choice([1,2,3,4,5]) # 랜덤하게 선택

4

In [69]:
random.randint(3,15) # a,b 정수 값 중 하나

7

In [41]:
random.randrange(3,16) #randint a, b중 하나

12

In [73]:
ls = [1,2,3,4,5]
random.shuffle(ls)
print(ls)
# 랜덤으로 섞기

[5, 2, 3, 4, 1]

In [76]:
random.sample(ls,2)
# 랜덤으로 원소 추출

[2, 5]

In [78]:
# 실습 6
# My_Sol

menu = ['된장찌개','부대찌개','김치찌개','삼계탕','파스타','돈까스','쌀국수']
print('오늘 점심은 {}입니다.'.format(random.choice(menu)))

오늘 점심은 된장찌개입니다.

In [80]:
def lunch():
    return ('오늘 점심은 {}입니다.'.format(random.choice(menu)))

In [95]:
# 실습 7
# 5개의 로또 번호 조합을 출력. 1~45 중 6개를 임의로 선택후 정렬하여 출력
# My_Sol

print("** 로또 번호 자동 기입을 시작합니다 **")
for i in range(1,6):
    ls = random.sample(range(1,46), 6)
    print("{}번째 자동 기입 ==> ".format(i), *sorted(ls))

** 로또 번호 자동 기입을 시작합니다 **
1번째 자동 기입 ==>  4 5 12 29 31 44
2번째 자동 기입 ==>  10 15 16 21 24 25
3번째 자동 기입 ==>  5 8 9 23 25 36
4번째 자동 기입 ==>  14 25 26 30 37 40
5번째 자동 기입 ==>  16 17 23 28 39 40

In [101]:
# Prof_Sol 

lst = []
for i in range(1,46):
    lst.append(i)
lst2=[]
for i in range(5):
    lst2.append(sorted(random.sample(lst,6)))
print("** 로또 번호 자동 기입을 시작합니다 **")
for i in range(5):
    print("{}번째 자동 기입 ==> ".format(i+1), *lst2[i])

** 로또 번호 자동 기입을 시작합니다 **
1번째 자동 기입 ==>  15 20 22 27 34 39
2번째 자동 기입 ==>  2 4 9 19 26 31
3번째 자동 기입 ==>  23 27 33 39 42 45
4번째 자동 기입 ==>  4 13 14 21 24 43
5번째 자동 기입 ==>  14 15 16 27 29 32

In [126]:
# 실습 8
# 숫자로 구성된 리스트를 전달받아 최댓값, 최소값을 반환하고 ,두 수를 리스트에서 제거하는 함수를 작성하시오
# My_Sol

def get_min_max(l):
    lmin = min(l)
    lmax = max(l)
    l.remove(lmin)
    l.remove(lmax)
    return(lmin,lmax)

l=[3,5,9,1,2,0,12,13]
min_val, max_val = get_min_max(l)
print(min_val)
print(max_val)
print(l)

0
13
[3, 5, 9, 1, 2, 12]

In [124]:
# Prof_SOl

def get_min_max(l):
    lmin, lmax = min(l), max(l)
    i=0
    for _ in range(len(l)):
        if lmin == l[i]:
            del l[i]
        elif lmax == l[i]:
            del l[i]
        else:
            i+=1
    return (lmin,lmax)

In [125]:
l=[3,5,9,1,2,0,12,13]
min_val, max_val = get_min_max(l)
print(min_val)
print(max_val)
print(l)

0
13
[3, 5, 9, 1, 2, 12]

In [162]:
# 실습 9
# 두 딕셔너리를 전달받아 각 딕셔너리에 등장한 값을 모두 더한 새로운 딕셔너리를 반환하는 함수 comb_dict() 작성
# My_Sol

def comb_dict(d1, d2):

    d3={}
    for i in d1.keys:
        for j in d2.keys:
            if i==j:
                d3[i]=d1[i]+d2[j]
            else:
                d3[i] = d1[i]
                d3[j] = d2[j]
    return d3

d1={'a':1,'b':3,'d':7,'e':8}
d2={'a':2,'c':4,'e':1}
d3 = comb_dict(d1,d2)
print(d3)

# 굳이 새로운 딕셔너리를 만들 필요는 없었음. Left outer Join이라 생각하면 편할듯.

TypeError: 'builtin_function_or_method' object is not iterable

In [151]:
# Prof_Sol

def comb_dict(d1,d2):
    d=d1
    # key 값이 같으면 value 값을 더해줌
    # d1에 없는데 d2에 있는 key에 value 추가
    for i in d1.keys():
        for i in d2.keys():
            if i==j:
                d[i]=d1[i]+d2[j]
    for k in d2.keys():
        # k가 d에 있는 list에 없으면 추가
        if not k in d.keys():
            d[k] = d2[k]
    return d


d1={'a':1,'b':3,'d':7,'e':8}
d2={'a':2,'c':4,'e':1}
d3 = comb_dict(d1,d2)
print(d3)

{'a': 1, 'b': 3, 'd': 7, 'e': 8, 'c': 4}

In [163]:
# 실습 10
# 숫자를 2개 이상 입력받아 최댓값과 최솟값의 차를 반환하는 함수를 작숫자를 2개 이상 입력받아 최댓값과 최솟값의 차를 반환하는 함수를 작성
# My_Sol

# *붙은 가변매개변수는 리스트가 아니라 튜플로 봐야됨

def diff(a,b, *nums):
    lst=[a,b]
    for i in nums:
        lst.append(i)
    subt = max(lst) - min(lst)
    return(subt)

diff(-100,200)
diff(1,2,3,4,5)

4

In [167]:
# Prof_Sol

def diff(a,b,*c):
    lst = list(c)
    lst.append(a)
    lst.append(b)
    res = max(lst)-min(lst)
    
    return res
diff(-100,200)
diff(1,2,3,4,5)

TypeError: diff() missing 1 required positional argument: 'b'