## Set

In [7]:
s1 = set([1,2,3,3,3,4,2])
s1

{1, 2, 3, 4}

In [9]:
s2={3,4,5}

In [11]:
word = "Hello"*2
word

'HelloHello'

In [16]:
s2={3,4,5}

In [17]:
word_list = list(word)
word_list

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [18]:
s3 = set(word_list)

In [19]:
s4 = set("Hello")
s4

{'H', 'e', 'l', 'o'}

In [40]:
s={1,2,3,4,5,3,4}

In [41]:
s.add(10)
# add는 원소 하나
s

{1, 2, 3, 4, 5, 10}

In [43]:
s.remove(5)
# 값이 없으면 오류
s

{1, 2, 3, 4, 10}

In [44]:
s.update([1,3,5,7,9])
# update는 원소 여러개(list) 도 가능
s

{1, 2, 3, 4, 5, 7, 9, 10}

In [45]:
s.discard(5)
# 값이 없어도 오류 안남
s

{1, 2, 3, 4, 7, 9, 10}

In [46]:
s.clear()
s

set()

### - 합집합, 교집합, 차집합

In [47]:
s1 = {1,2,3}
s2 = {3,4,5}

In [48]:
s1.union(s2)
s1|s2

# 합집합

{1, 2, 3, 4, 5}

In [49]:
s1.intersection(s2)
s1 & s2
# 교집합

{3}

In [55]:
s1.difference(s2)
s1 - s2
# 차집합

{1, 2}

In [89]:
s5 = set()
s3 = set()

for i in range(1,100):
    if i%5==0:
        s5.add(i)
    if i%3==0:
        s3.add(i)

In [135]:
s = s3&s5
print(*sorted(s))
print("3과 5의 공배수:{}개".format(len(s)))

15 30 45 60 75 90
3과 5의 공배수:6개

## Dictionary

In [102]:
d={}
d['kim']=1
d['park']=2
print(d)
d['kim']=3
d['youn']=1
print(d)

{'kim': 1, 'park': 2}
{'kim': 3, 'park': 2, 'youn': 1}

In [112]:
d.keys()
d.values()

dict_values([2, 1])

In [113]:
d.items()
# 튜플 형태로 저장됨.

dict_items([('park', 2), ('youn', 1)])

In [136]:
d = {'kim':3,'park':2, 'youn':1}

values=[]

for i in d.values():
    values.append(i)

print(*values)

3 2 1

In [149]:
# My Solution

sent = input("Enter a sentence: ")
alp = set(sent)
sent = list(sent)
num = []

for i in alp:
    num.append(sent.count(i))

dictionary = dict(zip(alp,num))
print(dictionary)

Enter a sentence: Python is fun!
{'i': 1, 'f': 1, '!': 1, 'n': 2, 's': 1, 'u': 1, 't': 1, 'y': 1, ' ': 2, 'P': 1, 'o': 1, 'h': 1}

In [145]:
# Prof Solution

sentence = input("Enter a sentence: ")
s = set(sentence)
d = {}
for elem in s:
    d[elem] = 0
for alpha in sentence:
    for k in d.keys():
        if k==alpha:
            d[k]+=1
print(d)

Enter a sentence: Python is fun!
{'i': 1, 'f': 1, '!': 1, 'n': 2, 's': 1, 'u': 1, 't': 1, 'y': 1, ' ': 2, 'P': 1, 'o': 1, 'h': 1}

## List Comprehension, zip()

In [150]:
# for i in range(1,6) = i for i in range(1,6)

L = [i for i in range(1,6)]
L

[1, 2, 3, 4, 5]

In [151]:
[i**2 for i in range(1,6)]
# 나는 i**2 를 넣고싶다. i의 범위는 ~~다

[1, 4, 9, 16, 25]

In [152]:
[i for i in range(1,6) if i%2 ==0 ]
# 나는 i를 넣고싶다. i%2==0 을 만족시키는range(1,6)에 대해서

[2, 4]

In [153]:
# 중첩 for문
L1 = [1,2,3]
L2 = [3,4,5]
[x*y for x in L1 for y in L2]
# x*y를 출력할거다. x는 L1에서 오고 y는 L2에서 온다. 
# 모든 경우의 수가 출력됨. L1[0]*L2[0,1,2], L1[1]*L2[0,1,2]... 이런식으로 

# for x in L1:
#     for y in L2 랑 같다고 이해하면 된다

[3, 4, 5, 6, 8, 10, 9, 12, 15]

In [159]:
a,b = map(int, input().split())
c = True if a > b else False
print(c)

6 5
True

### zip()
2개 이상의 리스트를 각 리스트의 같은 인덱스 원소끼리 묶은 튜플을 원소로 하는 리스트를 만들어줌

In [161]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [164]:
list(zip([1,2,3],[4,5,6],['a','b','c']))

[(1, 4, 'a'), (2, 5, 'b'), (3, 6, 'c')]

In [166]:
list(zip((1,2,3),(4,5,6))) 
# 튜플도 가능

[(1, 4), (2, 5), (3, 6)]

In [167]:
[sum(x) for x in zip((1,2,3),(4,5,6))]

[5, 7, 9]

In [168]:
L1 = ['one','two','three','four']
L2 = [1,2,3,4]

In [172]:
# My Sol

dict(zip(L1, L2))

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [174]:
# Prof Sol

L = list(zip(L1, L2))
D = {}
for i in range(len(L)):
    D[L[i][0]] = L[i][1]
print(D)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}